body {
    background-image: url(./res/img/R.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    user-select: none;
}
#susenka{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: scale(1.00);
    transition: 300ms ease;
    width: 20%;
    height: 20%;

}
#susenka:hover{
    transform: scale(1.05);
    transition: 300ms ease;
    cursor: pointer;
}
#susenka:active{
    transform: scale(1.00);
   
}
#counter{
    text-align: center;
    font-size: 300%;
    font-family: sans-serif;
}
#clickuUpgrade{
    font-size: 24px;
    background-color: black;
    color: white; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 300ms ease;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem ;
}
#clickuUpgrade:hover{
    transform: scale(1.05);
    transition: 300ms ease;
    cursor: pointer;
}
#clickuUpgrade:active{
    transform: scale(1.00);
   
}
#autoclicker{
    font-size: 24px;
    background-color: black;
    color: white; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 300ms ease;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
#autoclicker:hover{
    transform: scale(1.05);
    transition: 300ms ease;
    cursor: pointer;
}
#autoclicker:active{
    transform: scale(1.00);
   
}